*{box-sizing:border-box;font-family:Montserrat;}
body{
justify-content: center;
align-items: center;
}
h2{text-align:center;}
label,form{
display:flex;
flex-direction:column;
justify-content: space-between;
gap:16px;
}
input[type="submit"]{background-color:#121212;color:#ffffff;font-weight:bold;font-size:18px;text-transform:uppercase;border:none;}

form{
width:360px;
margin:auto;
}
.vertical{flex-direction:row;}
input{padding:12px;margin:8px;border-radius:4px;}